In [1]:
import mysql.connector
from credentials import user, password

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user=user,
  password=password
)

In [3]:
print (mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f26244b4520>

In [4]:
mycursor = mydb.cursor()

In [5]:
mycursor.execute('SHOW DATABASES')

In [6]:
for x in mycursor:
  print(x)

('PETS',)
('SGAE_Practica',)
('information_schema',)
('movies',)
('mysql',)
('performance_schema',)
('sys',)

In [8]:
mycursor.execute('USE PETS')

In [9]:
mycursor.execute('SELECT * FROM cats')

for x in mycursor:
    print(x)

(1, 'Sandy', 'Lennon', datetime.date(2015, 1, 3))
(2, 'Cookie', 'Casey', datetime.date(2013, 11, 13))
(3, 'Charlie', 'River', datetime.date(2016, 5, 21))

In [34]:
# mydb = mysql.connector.connect(
#   host="localhost",
#   user=user,
#   password=password,
#   database="PETS"
# )

# mycursor = mydb.cursor()

In [45]:
# mycursor.execute("DROP TABLE dogs")

In [46]:
mycursor.execute("CREATE TABLE dogs (id INT unsigned NOT NULL AUTO_INCREMENT,name VARCHAR(150) NOT NULL,owner VARCHAR (150) NOT NULL, birth DATE NOT NULL, PRIMARY KEY (id)) ")

In [54]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('cats',)
('dogs',)

In [48]:
mycursor.execute('SELECT * FROM cats')
for x in mycursor:
  print(x)

(1, 'Sandy', 'Lennon', datetime.date(2015, 1, 3))
(2, 'Cookie', 'Casey', datetime.date(2013, 11, 13))
(3, 'Charlie', 'River', datetime.date(2016, 5, 21))

In [49]:
mycursor = mydb.cursor(prepared=True)

sql = "INSERT INTO dogs (name, owner, birth) VALUES (%s,%s,%s)"
val = [
  ("Doggy", "Carla", "2015-01-15"), 
  ("Checo", "Gemma", "2013-02-18"),
  ("Pluto", "Jordi", "2011-03-08"),
  ("Cao", "Elias", "2019-04-03"),
  ("Sucre", "Joan", "2014-05-21"),
  ("Lady", "Enric", "2017-06-30"),
  ("Jeremies", "Gerard", "2015-07-12") 
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

-7 was inserted.

In [50]:
mycursor = mydb.cursor()
mycursor.execute('SELECT * FROM dogs')
for x in mycursor:
  print(x)

(1, 'Doggy', 'Carla', datetime.date(2015, 1, 15))
(2, 'Checo', 'Gemma', datetime.date(2013, 2, 18))
(3, 'Pluto', 'Jordi', datetime.date(2011, 3, 8))
(4, 'Cao', 'Elias', datetime.date(2019, 4, 3))
(5, 'Sucre', 'Joan', datetime.date(2014, 5, 21))
(6, 'Lady', 'Enric', datetime.date(2017, 6, 30))
(7, 'Jeremies', 'Gerard', datetime.date(2015, 7, 12))

In [51]:
sql = "SELECT * FROM dogs WHERE name LIKE 'C%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(2, 'Checo', 'Gemma', datetime.date(2013, 2, 18))
(4, 'Cao', 'Elias', datetime.date(2019, 4, 3))

In [52]:
sql = "UPDATE dogs SET name = 'Ciao' WHERE name = 'Cao'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [53]:
sql = "SELECT * FROM dogs WHERE name LIKE 'C%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(2, 'Checo', 'Gemma', datetime.date(2013, 2, 18))
(4, 'Ciao', 'Elias', datetime.date(2019, 4, 3))

In [7]:
mycursor.execute('USE SGAE_Practica')

In [9]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)