### Sprint 2
#### Tasca M2 T01

### Exercici 1.

Crea una llista que agrupi els mesos de l’any en trimestres (1T: gener, febrer i març; 2T: abril, maig, juny...), és a dir, una llista amb 4 llistes dins.

In [7]:
# Dues maneres de crear llistes entre 'brackets' i utilitzant el constructor. 
# Al final comprovem que són del tipus llista i mostrem la llista de llistes exigida a l'exercici.

T1 = ['Gener', 'Febrer', 'Març']
T2 = list(('Abril', 'Maig', 'Juny'))
T3 = ['Juliol', 'Agost', 'Setembre']
T4 = list(('Octubre', 'Novembre', 'Dezembre'))

mesos = [T1,T2,T3,T4]

for x in trimestres:
    print (type(x))

print()
print('La llista mesos consisteix en una llista (mesos de l\'any) de llistes (dividida en trimestres): ')
print (mesos)

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

La llista mesos consisteix en una llista (mesos de l'any) de llistes (dividida en trimestres):
[['Gener', 'Febrer', 'Març'], ['Abril', 'Maig', 'Juny'], ['Juliol', 'Agost', 'Setembre'], ['Octubre', 'Novembre', 'Dezembre']]

In [8]:
# Una altre forma de crear la llista de llistes és utilitzant el mètode append (també extend())
mesos2 = []
for i in mesos:
    mesos2.append(i)
    
mesos2

[['Gener', 'Febrer', 'Març'],
 ['Abril', 'Maig', 'Juny'],
 ['Juliol', 'Agost', 'Setembre'],
 ['Octubre', 'Novembre', 'Dezembre']]

In [9]:
# I comprovem que és mesos2 és del tipus llista i que és igual que mesos.

print (type(mesos2)==list) 
print(mesos2 == mesos)

True
True

### Exercici 2

Crea un codi que et permeti accedir a:

* El segon mes del primer trimestre.
* Els mesos del primer trimestre.
* Setembre i octubre.

In [5]:
import numpy as np

In [6]:
# Amb el shape de numpy podem comprobar que la nostra llista mesos és de (4,3) -> 4 trimestres i 3 mesos
np.shape(mesos)

(4, 3)

In [7]:
# Per accedir al segon mes (posició 1) del primer trimestre (posició 0):
mesos[0][1]

'Febrer'

In [8]:
# Per accedir als mesos del primer trimestre només utilitzarem la primera dimensió:
mesos[0]

['Gener', 'Febrer', 'Març']

In [9]:
# Per accedir a Setembre i Octubre:
print(mesos[2][2], mesos[3][0])

Setembre Octubre

### Exercici 3

Crea una llista amb nombres desordenats i respon a les següents preguntes:


*    Quants números hi ha?
*    Quantes vegades apareix el número 3.
*    Quantes vegades apareixen els nombres 3 i 4?
*    Quin és el número més gran?
*    Quins són els 3 números més petits?
*    Quin és el rang d’aquesta llista?

In [10]:
import random

In [11]:
# A partir d'una llista buida, amd el mètode append generarem una llista de 50 nombres enters entre 0 i 10

integers=[]
for i in range(50):
    res = random.randint(0,10)
    integers.append(res)
    
print(integers)

[6, 2, 8, 9, 3, 5, 4, 1, 2, 6, 4, 3, 8, 1, 6, 0, 3, 5, 4, 8, 8, 5, 1, 10, 10, 4, 10, 2, 2, 0, 8, 4, 7, 3, 7, 10, 10, 4, 8, 8, 5, 9, 10, 1, 7, 6, 0, 9, 7, 9]

In [12]:
# Una altra forma més directe utilitzant el randomitzador de numpy i transformant-la en llista

integers2 = np.random.randint(0,10,50)
integers2 = list(integers2)

In [13]:
# Quants números hi ha?

print(len(integers))

50

In [16]:
# Quantes vegades es repeteix el tres?

tresos = integers.count(3)
tresos

4

In [22]:
# Quantes vegades apareixen els nombres 3 i 4?

tres_quatre = integers.count(3) + integers.count(4)
tres_quatre

10

In [24]:
# Quin és el número més gran?

gran = max(integers)
gran

10

In [35]:
# Quins son els 3 números més petits?
# Eliminarem els duplicats, ordenarem la llista de menor a major i mostrarem els tres primers elements:

unique_int = set(integers) # Aquest mètode transforma la llista en set
unique_int = list(unique_int) # Tornem a transformar en llista ja ordenada
unique_int[0:3] # Mostrem els tres més petits

[0, 1, 2]

In [43]:
# Quin és el rang d'aquesta llista?

rang = max(integers) - min(integers)
rang

10

### Exercici 4

Crea un diccionari de la següent forma i respon a les preguntes:

*   Afegeix alguna fruita més
*   Quant han costat les peres en total?
*    Quantes fruites hem comprat en total?
*    Quina és la fruita més cara?

In [11]:
 compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

In [12]:
# Afegeix alguna fruita més

compra['Pinya'] = {'Qty':5,'€':0.98}
compra

{'Pomes': {'Qty': 5, '€': 0.42},
 'Peres': {'Qty': 3, '€': 0.66},
 'Pinya': {'Qty': 5, '€': 0.98}}

In [13]:
# Quant han costat les peres en total?

preu_peres = compra['Peres']['Qty'] * compra['Peres']['€']
preu_peres

1.98

In [32]:
# Quantes fruites hem comprat en total

print('Hem comprat un total de {} fruites'.format(len(compra.keys())))

Hem comprat un total de 3 fruites

In [38]:
import pandas as pd

In [62]:
# Quina és la fruita més cara?
# Per facilitar la operació (?) creem un df amb tres columnes, fruita, preu individual i preu total.
# El df està buit i anem incorporant les dates utilitzant un dels mètodes iterables per accedir al diccionari. 

df = pd.DataFrame(columns=['fruita', 'preu_individual', 'preu_total'])
for fruites, atributs in compra.items():
    pr = (atributs['€'])
    qt = atributs['Qty']
   # print(fruites, pr, qt*pr)
    df.loc[len(df)] = [fruites, pr, qt*pr]

In [63]:
# Observem que, per preu individual la fruita més cara és la pinya, després la pera i finalment la poma.

df.sort_values(by=['preu_individual'], ascending=False)

  fruita  preu_individual  preu_total
2  Pinya             0.98        4.90
1  Peres             0.66        1.98
0  Pomes             0.42        2.10

In [64]:
# Ordenant pel preu total, la pinya segueix essent la més cara.
#En aquest cas el segon lloc és per la poma i finalment la pera

df.sort_values(by=['preu_total'], ascending=False)

  fruita  preu_individual  preu_total
2  Pinya             0.98        4.90
0  Pomes             0.42        2.10
1  Peres             0.66        1.98