### Sprint 2
#### Tasca M2 T01

### Exercici 1.

Crea una llista que agrupi els mesos de l’any en trimestres (1T: gener, febrer i març; 2T: abril, maig, juny...), és a dir, una llista amb 4 llistes dins.

In [1]:
# Dues maneres de crear llistes: entre 'brackets' i utilitzant el constructor. 
# Al final comprovem que són del tipus llista i mostrem la llista de llistes exigida a l'exercici.

T1 = ['Gener', 'Febrer', 'Març']
T2 = list(('Abril', 'Maig', 'Juny'))
T3 = ['Juliol', 'Agost', 'Setembre']
T4 = list(('Octubre', 'Novembre', 'Dezembre'))

mesos = [T1,T2,T3,T4]

for x in mesos:
    print (type(x))

print()
print('La llista mesos consisteix en una llista (mesos de l\'any) de llistes (dividida en trimestres): ')
print (mesos)

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

La llista mesos consisteix en una llista (mesos de l'any) de llistes (dividida en trimestres):
[['Gener', 'Febrer', 'Març'], ['Abril', 'Maig', 'Juny'], ['Juliol', 'Agost', 'Setembre'], ['Octubre', 'Novembre', 'Dezembre']]

In [2]:
# Una altre forma de crear la llista de llistes és utilitzant el mètode append.
mesos2 = []
for i in mesos:
    mesos2.append(i)
    
mesos2

[['Gener', 'Febrer', 'Març'],
 ['Abril', 'Maig', 'Juny'],
 ['Juliol', 'Agost', 'Setembre'],
 ['Octubre', 'Novembre', 'Dezembre']]

In [3]:
# I comprovem que mesos2 és del tipus llista i que és igual que mesos.

print (type(mesos2)==list) 
print(mesos2 == mesos)

True
True

### Exercici 2

Crea un codi que et permeti accedir a:

* El segon mes del primer trimestre.
* Els mesos del primer trimestre.
* Setembre i octubre.

In [4]:
import numpy as np

In [5]:
# Amb el shape de numpy podem comprobar que la nostra llista mesos és de (4,3) -> 4 trimestres i 3 mesos
np.shape(mesos)

(4, 3)

In [6]:
# Per accedir al segon mes (posició 1) del primer trimestre (posició 0):
print(mesos[0][1])

Febrer

In [7]:
# Per accedir als mesos del primer trimestre només utilitzarem la primera dimensió:
print(mesos[0])

['Gener', 'Febrer', 'Març']

In [8]:
# Per accedir a Setembre i Octubre:
print(mesos[2][2], mesos[3][0])

Setembre Octubre

### Exercici 3

Crea una llista amb nombres desordenats i respon a les següents preguntes:


*    Quants números hi ha?
*    Quantes vegades apareix el número 3.
*    Quantes vegades apareixen els nombres 3 i 4?
*    Quin és el número més gran?
*    Quins són els 3 números més petits?
*    Quin és el rang d’aquesta llista?

In [9]:
import random

In [10]:
# A partir d'una llista buida, amd el mètode append generarem una llista de 50 nombres enters entre 0 i 10

integers=[]
for i in range(50):
    res = random.randint(0,10)
    integers.append(res)
    
print(integers)

[9, 0, 3, 2, 3, 9, 9, 9, 6, 4, 10, 10, 8, 6, 7, 9, 6, 4, 6, 1, 6, 2, 7, 6, 4, 7, 0, 4, 6, 4, 7, 6, 8, 3, 1, 10, 7, 5, 8, 0, 2, 5, 5, 9, 9, 6, 6, 2, 10, 9]

In [11]:
# Una altra forma més directe és utilitzant el randomitzador de numpy i transformant-la en llista

integers2 = np.random.randint(0,10,50)
integers2 = list(integers2)

In [12]:
# Quants números hi ha?

n=len(integers)

print('Hi ha {} números'.format(n))

Hi ha 50 números

In [13]:
# Quantes vegades es repeteix el tres?

tresos = integers.count(3)

print('El número tres es repeteix {} vegades'.format(tresos))

El número tres es repeteix 3 vegades

In [14]:
# Quantes vegades apareixen els nombres 3 i 4?

tres_quatre = integers.count(3) + integers.count(4)

print('Els nombres 3 i 4 apareix un total de {} vegades'.format(tres_quatre))

Els nombres 3 i 4 apareix un total de 8 vegades

In [15]:
# Quin és el número més gran?

gran = max(integers)

print('El úmero més gran és el {}'.format(gran))

El úmero més gran és el 10

In [16]:
# Quins son els 3 números més petits?
# Eliminarem els duplicats, ordenarem la llista de menor a major i mostrarem els tres primers elements:

unique_int = set(integers) # Aquest mètode transforma la llista en set
unique_int = list(unique_int) # Tornem a transformar en llista ja ordenada

print('Els números més petits són {}'.format(unique_int[0:3]))

Els números més petits són [0, 1, 2]

In [17]:
# Quin és el rang d'aquesta llista?

rang = max(integers) - min(integers)

print('El rang de la llista és igual a {}'.format(rang))

El rang de la llista és igual a 10

### Exercici 4

Crea un diccionari de la següent forma i respon a les preguntes:

*   Afegeix alguna fruita més
*   Quant han costat les peres en total?
*    Quantes fruites hem comprat en total?
*    Quina és la fruita més cara?

In [18]:
 compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

In [19]:
# Afegeix alguna fruita més

compra['Pinya'] = {'Qty':5,'€':0.98}
compra

{'Pomes': {'Qty': 5, '€': 0.42},
 'Peres': {'Qty': 3, '€': 0.66},
 'Pinya': {'Qty': 5, '€': 0.98}}

In [20]:
# Quant han costat les peres en total?

preu_peres = compra['Peres']['Qty'] * compra['Peres']['€']
preu_peres

1.98

In [21]:
# Quantes fruites hem comprat en total.

peces = []
for fruites,atributs in compra.items():
    qt = atributs['Qty']
    peces.append(qt)

print('Hem comprat un total de {} tipus de fruita'.format(len(compra.keys())))
print('')
print('Hem comprat un total de {} peçes de fruita'.format(sum(peces)))

Hem comprat un total de 3 tipus de fruita

Hem comprat un total de 13 peçes de fruita

In [22]:
import pandas as pd

In [23]:
# Quina és la fruita més cara?
# Per facilitar la operació (?) creem un df amb tres columnes, fruita, preu individual i preu total.
# El df està buit i anem incorporant les dates utilitzant un dels mètodes iterables per accedir al diccionari. 

df = pd.DataFrame(columns=['fruita', 'preu_individual', 'preu_total'])
for fruites, atributs in compra.items():
    pr = (atributs['€'])
    qt = atributs['Qty']
   # print(fruites, pr, qt*pr)
    df.loc[len(df)] = [fruites, pr, qt*pr]

In [24]:
# Observem que, per preu individual la fruita més cara és la pinya, després la pera i finalment la poma.

df.sort_values(by=['preu_individual'], ascending=False)

  fruita  preu_individual  preu_total
2  Pinya             0.98        4.90
1  Peres             0.66        1.98
0  Pomes             0.42        2.10

In [25]:
# Ordenant pel preu total, la pinya segueix essent la més cara.
#En aquest cas el segon lloc és per la poma i finalment la pera

df.sort_values(by=['preu_total'], ascending=False)

  fruita  preu_individual  preu_total
2  Pinya             0.98        4.90
0  Pomes             0.42        2.10
1  Peres             0.66        1.98